{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "consistent",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "vueIndentScriptAndStyle": false,
  "singleAttributePerLine": false,
  "bracketSameLine": false,
  "filepath": "",
  "rangeStart": 0,
  "rangeEnd": null,
  "plugins": [],
  "overrides": [],
  "ignorePath": ".prettierignore",
  "quote": "double",
  "parser": "babel",
  "spaceBeforeFunctionParen": false,
  "noDuplicateAttributeClash": true,
  "wrapAttributes": "preserve",
  "jsxFragmentSyntax": "preserve",
  "classAttributeOrder": "alphabetical",
  "maxAttributesPerLine": 3,
  "maxStatementsPerLine": 1,
  "removeTrailingSlash": true,
  "keepNumbersSeparate": true,
  "functionLinebreak": "preserve",
  "propertyQuote": "consistent",
  "punctuationSpacing": true,
  "methodChainingIndent": true,
  "quoteCurlyBraces": false,
  "functionParenthesesSpacing": true,
  "allowObjectCurlySpacing": true,
  "minifyHTML": false,
  "trimEmptyLines": true,
  "objectCurlyNewline": { "multiline": true, "consistent": true },
  "arrayBracketNewline": { "multiline": true, "consistent": true },
  "sortAttributes": false,
  "importOrder": ["react", "next", "local"],
  "ignoreHTMLComments": true,
  "alwaysUseDotNotation": true,
  "disableTernaryOperator": false,
  "collapseBooleanAttributes": true,
  "alignAssignments": true,
  "lineCommentPosition": "above",
  "groupByType": true,
  "parenthesesOnNewLine": false,
  "noMultipleEmptyLines": true
}
